-# in _bookmark_form.html.haml (the partial)

= label :bookmark, :address, 'Address'
= text_field :bookmark, 'address'

= label :bookmark, :description, 'Description'
= text_area :bookmark, 'description'
