-# This file is app/views/bookmarks/index.html.haml
%h1 All Bookmarks

%table#bookmarks
  %thead
    %tr
      %th websites
    %tbody
      - @bookmarks.each do |bookmark|
        %tr
          %td= link_to(bookmark.description, bookmark.address)
          