<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li> 
              <li><a href="/sort_by_description">按字母</a></li>
              <li><a href="#">按受欢迎</a></li>
              <li><a href="/sort_by_update">按添加顺序</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar-static-top/">10个随机选择</a></li>
              <li><a href="../navbar-static-top/">10个值得探索</a></li>
              <li><a href="../navbar-fixed-top/">10个有用列表</a></li>
              <li><a href="../navbar-fixed-top/">10个值得信赖</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>